asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
cloudinary==1.44.2
colorama==0.4.6
Django==6.0.4
django-allauth==65.16.1
django-cloudinary-storage==0.3.0
django-ratelimit==4.1.0
django-unfold==0.91.0
gunicorn==25.3.0
idna==3.13
iniconfig==2.3.0
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
psycopg2-binary==2.9.12
Pygments==2.20.0
pytest==9.0.3
pytest-django==4.12.0
python-decouple==3.8
requests==2.33.1
resend==2.29.0
sentry-sdk==2.59.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
whitenoise==6.12.0
PyJWT
cryptography
django-anymail[brevo]==11.1
djangorestframework==3.14.0
django-cors-headers==4.3.1
drf-spectacular==0.27.0
djangorestframework-simplejwt==5.3.0
django-filter==23.5
redis==5.0.1
django-redis==5.4.0
celery==5.3.4
